@model Asp_Membership.Models.MyModel.LocalPasswordModel
@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

<br /><br />
<p style="color:#08b235;font-weight:500;">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("ChangePassword", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!-- Col -->
    <div class="form-group">
        <label>Old Password*</label>
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OldPassword)
    </div>
    <div class="form-group">
        <label>New Password*</label>
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>
    <div class="form-group">
        <label>Confirm Password*</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>


    <div class="net-payble">
        <input type="submit" value="Change password" class="btn btn-lg btn-black" />
    </div>
}



<style>
    span.field-validation-error {
        color: red;
    }

    .validation-summary-errors ul li {
        color: red;
    }
</style>